/* === VARIÁVEIS GLOBAIS DE COR === */
:root {
  --background-color: #a8a9ad;
  --surface-color: #1b1b1b;
  --accent-color: #0a122a;
  --text-color: #e6e8e6;
  --button-color: #8b8ae1;
}

/* === RESET E ESTILOS GLOBAIS === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
}
